<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loop & Conditional Statement</title>
</head>
<body>
    <!-- <h2>Student name:</h2>
    <ul>
        <% students.forEach(student => { %>
            <li><%= student %></li>
        <% }) %>
    </ul>

    <h2>Student List</h2> -->

    <!-- <p>Selected Student: <%= name %></p>

    <ul>
        <% students.forEach(student => { %>
            <li><%= student %></li>
        <% }) %>
    </ul> -->

    <h1>Selected Student: <%= name %></h1>

    <% students.forEach(student => { %>
        <% if(student === name) { %>
            <li style="color:red"><%= student %></li>
        <% } else { %>
            <li><%= student %></li>
        <% } %>
    <% }) %>

</body>
</html>