<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All post</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <% for(post of posts){ %>
        <div class="post">
            <h3 class="user">@<%= post.username %></h3>
            <h3 class="user"><%= post.content %></h3>
            <br>
            <a href="http://localhost:8080/posts/<%=post.id%>">See in deatils</a>
            <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
            <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                <button type="submit">Delete Post</button> 
            </form>            
        </div>
    <% } %>

    <br><br>
    <h4><a href="http://localhost:8080/post/new">Create new post</a></h4>
</body>
</html>